<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CSharpMath" version="0.3.0" targetFramework="net462" />
  <package id="CSharpMath.Editor" version="0.3.0" targetFramework="net462" />
  <package id="CSharpMath.Rendering" version="0.3.0" targetFramework="net462" />
  <package id="CSharpMath.SkiaSharp" version="0.3.0" targetFramework="net462" />
  <package id="OpenTK" version="3.1.0" targetFramework="net462" />
  <package id="OpenTK.GLControl" version="3.1.0" targetFramework="net462" />
  <package id="SkiaSharp" version="1.68.1.1" targetFramework="net462" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net462" />
  <package id="System.Drawing.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="System.Memory" version="4.5.3" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net462" />
</packages>